pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "GetTables",
				"type": "AzureDataExplorerCommand",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": ".show tables",
					"commandTimeout": "00:20:00"
				},
				"linkedServiceName": {
					"referenceName": "M365OpsCenterInt",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetTables').Output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Azure Data Explorer Command1",
							"type": "AzureDataExplorerCommand",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"command": "@{item().TableName} | take 10",
								"commandTimeout": "00:20:00"
							},
							"linkedServiceName": {
								"referenceName": "M365OpsCenterInt",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}