pipeline/SQL Prod Metadata sync pipeline.json
{
	"name": "SQL Prod Metadata sync pipeline",
	"properties": {
		"activities": [
			{
				"name": "Assure table Temp_CIS_Metadata_Job clean",
				"type": "AzureDataExplorerCommand",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": ".clear table Temp_CIS_Metadata_Job data",
					"commandTimeout": "00:20:00"
				},
				"linkedServiceName": {
					"referenceName": "M365OpsCenterInt",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Swap CIS_Metadata_Job and Temp_CIS_Metadata_Job",
				"type": "AzureDataExplorerCommand",
				"dependsOn": [
					{
						"activity": "Copy Job from Sql to Kusto",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": ".rename tables CIS_Metadata_Job=Temp_CIS_Metadata_Job ifexists, Temp_CIS_Metadata_Job=CIS_Metadata_Job",
					"commandTimeout": "00:20:00"
				},
				"linkedServiceName": {
					"referenceName": "M365OpsCenterInt",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Clear table Temp_CIS_Metadata_Job",
				"type": "AzureDataExplorerCommand",
				"dependsOn": [
					{
						"activity": "Swap CIS_Metadata_Job and Temp_CIS_Metadata_Job",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": ".clear table Temp_CIS_Metadata_Job data",
					"commandTimeout": "00:20:00"
				},
				"linkedServiceName": {
					"referenceName": "M365OpsCenterInt",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy Job from Sql to Kusto",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Assure table Temp_CIS_Metadata_Job clean",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from dbo.Job where JobType='M365AGCBuildout' or JobType='M365BuildoutPlanner'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureDataExplorerSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "JobId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "JobId",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "ParentId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ParentId",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "RootId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RootId",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "DisplayName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DisplayName",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "Cloud",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Cloud",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "Tenant",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Tenant",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "JobType",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "JobType"
								}
							},
							{
								"source": {
									"name": "ServiceHostCapability",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ServiceHostCapability",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "StartDate",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								},
								"sink": {
									"name": "StartDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "FinishDate",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								},
								"sink": {
									"name": "FinishDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "StateName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "StateName",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "PackageId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PackageId",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "Workflow",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Workflow",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "HostName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "HostName",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "ServiceHostLocation",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ServiceHostLocation",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "Timestamp",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								},
								"sink": {
									"name": "Timestamp",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TotalTaskCount",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TotalTaskCount",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FinishedTaskCount",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FinishedTaskCount",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "BlockedTaskCount",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "BlockedTaskCount",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ParametersJson",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ParametersJson",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "SettingsJson",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SettingsJson",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "MdmId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MdmId",
									"type": "String",
									"physicalType": "string"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Sql_Beta_Job",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Kusto_INT_Temp_Job",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Query all job ids",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select JobId from dbo.Job where JobType='M365AGCBuildout' or JobType='M365BuildoutPlanner'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Sql_Beta_Job",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Add all JobIds",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Query all job ids",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Query all job ids').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append JobId",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "JobIds",
								"value": {
									"value": "@concat('''', item().JobId, '''')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Assure table Temp_CIS_Metadata_Task clean",
				"type": "AzureDataExplorerCommand",
				"dependsOn": [
					{
						"activity": "Add all JobIds",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": ".clear table Temp_CIS_Metadata_Task data",
					"commandTimeout": "00:20:00"
				},
				"linkedServiceName": {
					"referenceName": "M365OpsCenterInt",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Swap CIS_Metadata_Task and Temp_CIS_Metadata_Task",
				"type": "AzureDataExplorerCommand",
				"dependsOn": [
					{
						"activity": "Copy Task from Sql to Kusto",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": ".rename tables CIS_Metadata_Task=Temp_CIS_Metadata_Task ifexists, Temp_CIS_Metadata_Task=CIS_Metadata_Task",
					"commandTimeout": "00:20:00"
				},
				"linkedServiceName": {
					"referenceName": "M365OpsCenterInt",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Clear table Temp_CIS_Metadata_Task",
				"type": "AzureDataExplorerCommand",
				"dependsOn": [
					{
						"activity": "Swap CIS_Metadata_Task and Temp_CIS_Metadata_Task",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": ".clear table Temp_CIS_Metadata_Task data",
					"commandTimeout": "00:20:00"
				},
				"linkedServiceName": {
					"referenceName": "M365OpsCenterInt",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy Task from Sql to Kusto",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Assure table Temp_CIS_Metadata_Task clean",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.Task where JobId in (@{join(variables('JobIds'), ',')})",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureDataExplorerSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "TaskId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TaskId",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "JobId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "JobId",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "TaskName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TaskName",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "DisplayName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DisplayName",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "ExternalId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ExternalId",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "ExternalSystemType",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ExternalSystemType",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "Component",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Component",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "OrderId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OrderId",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "StartDate",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								},
								"sink": {
									"name": "StartDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "FinishDate",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								},
								"sink": {
									"name": "FinishDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "StateName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "StateName",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "CustomState",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CustomState",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "TaskType",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TaskType",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "AssignedTo",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AssignedTo",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "LastBlockedReason",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LastBlockedReason",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "Timestamp",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								},
								"sink": {
									"name": "Timestamp",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "StartWaitingDate",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								},
								"sink": {
									"name": "StartWaitingDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "FinishWaitingDate",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								},
								"sink": {
									"name": "FinishWaitingDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TaskGroupPath",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TaskGroupPath",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "Notes",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Notes",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "OwningTeamId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OwningTeamId",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "ProgressInfo",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProgressInfo",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "LogUri",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LogUri",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "ProgressReportLink",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProgressReportLink",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "IngestionTime",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								},
								"sink": {
									"name": "IngestionTime",
									"type": "String",
									"physicalType": "string"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Sql_Beta_Task",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Kusto_INT_Temp_Task",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Assure table Temp_CIS_Metadata_Incident clean",
				"type": "AzureDataExplorerCommand",
				"dependsOn": [
					{
						"activity": "Add all JobIds",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": ".clear table Temp_CIS_Metadata_Incident data",
					"commandTimeout": "00:20:00"
				},
				"linkedServiceName": {
					"referenceName": "M365OpsCenterInt",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Swap CIS_Metadata_Incident Temp_CIS_Metadata_Incident",
				"type": "AzureDataExplorerCommand",
				"dependsOn": [
					{
						"activity": "Copy Incident from Sql to Kusto",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": ".rename tables CIS_Metadata_Incident=Temp_CIS_Metadata_Incident ifexists, Temp_CIS_Metadata_Incident=CIS_Metadata_Incident",
					"commandTimeout": "00:20:00"
				},
				"linkedServiceName": {
					"referenceName": "M365OpsCenterInt",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy Incident from Sql to Kusto",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Assure table Temp_CIS_Metadata_Incident clean",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.Incident where JobId in (@{join(variables('JobIds'), ',')})",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureDataExplorerSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Id",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "JobId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "JobId",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "TaskID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TaskId",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "TaskName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TaskName",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "StateName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "StateName",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "Timestamp",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								},
								"sink": {
									"name": "Timestamp",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "RootCauseTitle",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RootCauseTitle",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "RootCauseBugId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RootCauseBugId",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "IsExternal",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IsExternal",
									"type": "Boolean",
									"physicalType": "bool"
								}
							},
							{
								"source": {
									"name": "DisplayName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DisplayName",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "ExternalSystemType",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ExternalSystemType",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ResolvedDate",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								},
								"sink": {
									"name": "ResolvedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "IsFiledInFlighting",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IsFiledInFlighting",
									"type": "Boolean",
									"physicalType": "bool"
								}
							},
							{
								"source": {
									"name": "AssociatedPackageIds",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AssociatedPackageIds",
									"type": "String",
									"physicalType": "string"
								}
							},
							{
								"source": {
									"name": "ExternalLink",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ExternalLink",
									"type": "String",
									"physicalType": "string"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Sql_Beta_Incident",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Kusto_INT_Temp_Incident",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Clear table Temp_CIS_Metadata_Incident",
				"type": "AzureDataExplorerCommand",
				"dependsOn": [
					{
						"activity": "Swap CIS_Metadata_Incident Temp_CIS_Metadata_Incident",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": ".clear table Temp_CIS_Metadata_Incident data",
					"commandTimeout": "00:20:00"
				},
				"linkedServiceName": {
					"referenceName": "M365OpsCenterInt",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"JobIds": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}