pipeline/Test_pipeline2.json
{
	"name": "Test_pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Query all job ids",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set AccessToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureDataExplorerSource",
						"query": "CIS_Metadata_Job | take 1 | project JobId",
						"queryTimeout": "00:10:00"
					},
					"dataset": {
						"referenceName": "Kusto_INT_Job",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Sync tasks by JobId",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Query all job ids",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Query all job ids').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Tasks from REST API",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://beta-cps.trafficmanager.net/cis.client.svc/Public/M365AGCBuildout/GenericTask/', item().JobId)",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "@concat('Bearer ', variables('AccessToken'))",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Get Tasks from REST API",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "Tasks",
											"value": {
												"value": "@activity('Get Tasks from REST API').output.Response",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureFileStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureFileStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings",
										"filePattern": "arrayOfObjects"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['Task']"
											},
											"sink": {
												"path": "out"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "CisBetaTasksJson",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "CisBetaTasksJson",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Get ClientSecret",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://fleetagcorchestration.vault.azure.net/secrets/ClientSecret/4d525ad30a5f4ecb962fcb9142d116dd?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get Bearer Token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get ClientSecret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/microsoft.onmicrosoft.com/oauth2/token",
					"method": "POST",
					"headers": {
						"Content-type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "grant_type=client_credentials&client_id=ed857452-e380-4621-a248-a2764e8cb70c&resource=http://microsoft.com/beta-cps&client_secret=@{activity('Get ClientSecret').output.value}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set AccessToken",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Bearer Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "AccessToken",
					"value": {
						"value": "@activity('Get Bearer Token').output.access_token",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"AccessToken": {
				"type": "String"
			},
			"Tasks": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}