pipeline/Test CIS REST API Task Metadata sync pipeline.json
{
	"name": "Test CIS REST API Task Metadata sync pipeline",
	"properties": {
		"activities": [
			{
				"name": "Query all job ids",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set AccessToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureDataExplorerSource",
						"query": "CIS_Metadata_Job | take 6 | project JobId",
						"queryTimeout": "00:10:00"
					},
					"dataset": {
						"referenceName": "Kusto_INT_Job",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Sync tasks by JobId to Temp table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Query all job ids",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Query all job ids').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "Get Tasks from REST API",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://beta-cps.trafficmanager.net/cis.client.svc/Public/M365AGCBuildout/GenericTask/', item().JobId)",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "@concat('Bearer ', variables('AccessToken'))",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Append Tasks",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Get Tasks from REST API",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Tasks",
								"value": {
									"value": "@substring(string(json(activity('Get Tasks from REST API').output.Response)), 1, sub(length(string(json(activity('Get Tasks from REST API').output.Response))), 2))",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Get ClientSecret",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://fleetagcorchestration.vault.azure.net/secrets/ClientSecret/4d525ad30a5f4ecb962fcb9142d116dd?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get Bearer Token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get ClientSecret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/microsoft.onmicrosoft.com/oauth2/token",
					"method": "POST",
					"headers": {
						"Content-type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "grant_type=client_credentials&client_id=ed857452-e380-4621-a248-a2764e8cb70c&resource=http://microsoft.com/beta-cps&client_secret=@{activity('Get ClientSecret').output.value}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set AccessToken",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Bearer Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "AccessToken",
					"value": {
						"value": "@activity('Get Bearer Token').output.access_token",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set TasksJson",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Sync tasks by JobId to Temp table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TasksJson",
					"value": {
						"value": "@concat('[', join(variables('Tasks'), ','), ']')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set TasksJson",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Ingest into INT temp task",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Tasks": {
							"value": "@json(variables('TasksJson'))",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"AccessToken": {
				"type": "String"
			},
			"Tasks": {
				"type": "Array"
			},
			"TasksJson": {
				"type": "String"
			}
		},
		"annotations": []
	}
}